@import "tailwindcss";

* {
  transition: 0.3s ease;
}
body {
  background-color: #f8f4f0;
  overflow-x: hidden;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
h3 {
  font-size: 24px;
  font-weight: 500;
}
button,
a {
  cursor: pointer;
}
/* navigation */
.nav-ul li {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  z-index: 4;
}
.nav-ul span {
  margin-right: 1rem;
}
.selected-page::before {
  content: "";
  height: 4rem;
  background-color: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: solid #277c78 0.5rem;
  position: absolute;
  z-index: -1;
  left: 0;
}
.selected-page-mobile::before {
  content: "";
  height: 3.5rem;
  width: 4rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: white;
  border-bottom: solid #277c78 5px;
  position: absolute;
  z-index: -1;
  bottom: -25px;
  left: -19px;
}
/* overview */
.before-border::before {
  content: "";
  width: 0.4rem;
  border-radius: 6px;
  height: 4rem;
  left: 0;
  position: absolute;
  display: block;
}
/* transactions */
@layer base {
  select option {
    background-color: black;
    color: black;
    padding: 20px;
  }
}
option {
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
}

/* transactions buttons */
.transactions-buttons {
  font-size: 20px;
  border: 1px solid black;
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 6px;
  text-align: center;
}
.transactions-buttons:hover {
  background-color: black;
  color: white;
}
